@media only screen and (max-width: 720px) {
  .hide-on-med {
    display: none;
  }
  .sectionOneLeft div {
    width: 100% !important;
  }
  .navbar-brand {
    width: 30%;
  }
  .two-right {
    width: 100% !important;
  }
  .card {
    margin: 30px 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  .hide-on-large {
    display: none;
  }
}
/* general css */
body {
  background: #fbfbfb;
  font-family: "Montserrat", sans-serif !important;
}
.App {
  position: relative !important;
  min-height: 100vh;
}
.custom-switch {
  padding: 0 !important;
}
.custom-control {
  padding: 0 !important;
}
.content-wrap {
  padding-bottom: 2.5em;
}
.img-responsive {
  width: 100%;
}
h1,
h2,
h3 {
  font-weight: 700 !important;
  line-height: 1.5em !important;
  padding: 1.5rem 0;
}
h4,
h5,
h6 {
  font-weight: 600 !important;
  line-height: 1.5em !important;
  font-style: italic !important;
  padding: 1rem 0;
}
.center {
  text-align: center;
}
.center-img {
  display: flex;
  margin: 0 auto;
}
.btn-primary {
  background-color: #157295 !important;
  border: #157295 !important;
  padding: 10px 24px !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
}
.btn-primary:hover {
  background-color: #fff !important;
  border: #157295 !important;
  color: #157295;
  padding: 10px 24px !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
}
.btn-secondary {
  background-color: #fff !important;
  color: #157295 !important;
  border: 2px solid #157295 !important;
  padding: 5px 20px !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
}
.btn-secondary:hover {
  background-color: #157295 !important;
  color: #fff !important;
  border: 2px solid #157295 !important;
  padding: 5px 20px !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
}
.bg {
  background-image: url("../src/assets/images/vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 0;
}
.divider {
  margin: 40px auto;
  float: left;
  width: 80% !important;
  border-top: 1px solid #2193b0;
}
.divider-1 {
  width: 40%;
  opacity: 0.1;
  border-top: 1px solid #2193b0;
  display: flex;
  margin: 0 auto;
  padding: 40px 0;
}
.bx-border-circle {
  background: #157295;
}
i {
  color: #fbfbfb;
}
.card-header {
  background: #157295 !important;
  color: #fff;
}
.card-body {
  padding: 30px 0 !important;
}
.card {
  background: transparent !important;
  border: none !important;
}

.card-text {
  font-size: 9pt !important;
}

.card-title {
  font-weight: 700 !important;
}

.card a {
  font-size: 10pt !important;
  color: #000 !important;
}

.card a:hover {
  font-weight: 600;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  min-height: 170px !important;
  position: relative;
}

.card-body a {
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 100px;
  right: 100px;
  border: 1px solid;
  padding: 10px;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}
/* end general css */
/* nav css */
.nav-border {
  margin: 0;
  padding-bottom: 7px;
  position: relative;
  border-top: 3px solid #157295;
  text-transform: uppercase;
}
.nav-border:before {
  position: absolute;
  background: #01d7a1;
  height: 3px;
  content: "";
  width: 50%;
  top: -3px;
  left: 0;
}
.navbar-brand {
  width: 10%;
}
.navbar-brand img {
  width: 100%;
}
.navbar .navbar-nav a {
  font-weight: 600 !important;
  color: #2d2d2d !important;
  margin: 0 10px;
}

.navbar .navbar-nav a:hover {
  color: #157295 !important;
  text-decoration: none !important;
}

.active {
  color: #157295 !important;
}

.wa-btn {
  background-color: transparent !important;
  color: #157295 !important;
  font-size: 12pt !important;
  padding: 5px 10px !important;
  font-weight: 600 !important;
}

.wa-btn i {
  vertical-align: middle;
  color: #157295;
  font-size: 20pt !important;
  font-weight: 600 !important;
}
.wa-btn:hover {
  background-color: #25d366 !important;
}
/* end nav css */
/* home css */
.section-one {
  min-height: 100vh;
}
.section-two {
  padding: 0 0 10% 0;
  max-height: 100vh;
}
.section-three {
  margin: 5% 0 10% 0;
  padding: 10% 0;
  height: 600px;
  background: url("assets/images/slide1.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  transform: skewY(-5deg);
}
.section-three .content {
  position: relative;
  z-index: 999;
}
.section-three .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  opacity: 0.9;
}
.section-four {
  padding: 5% 0;
  max-height: 100vh;
}

.sectionOneLeft {
  margin: 8% 0;
}
.sectionOneLeft h1 {
  font-weight: 700;
}
.sectionOneLeft p {
  opacity: 0.6;
  text-align: justify;
}
.sectionOneLeft div {
  width: 80%;
  display: inline-block;
}
.sectionOneRight {
  margin: 8% 0;
}
.bottom-header p {
  opacity: 1 !important;
  font-size: 12px;
}
.bottom-header span {
  margin: 5px 0;
}

.bottom-header .icon {
  display: flex;
}

.phone a {
  color: #157295;
}

.phone a:hover {
  text-decoration: none;
  color: #2193b0;
}

.icon {
  display: flex;
  padding: 20px 0;
}
.icon-text {
  display: flex;
}
.icon-text ul {
  padding: 0 10px;
  list-style: none;
}
.phone-title {
  opacity: 0.6;
}
.phone {
  font-weight: 700;
}

.two-right {
  /* width: 70%; */
}

.two-right p {
  text-align: justify;
}

.two-left img {
  width: 70%;
  display: flex;
  margin: 0 auto;
}

.three-left {
  color: #fff;
  text-align: justify;
}

.content {
  transform: skewY(5deg);
}

.contact-us-btn {
  background-color: transparent !important;
  border: 1px solid #2193b0 !important;
  border-radius: 20px !important;
  color: #2193b0 !important;
  font-size: 16px !important;
}

.contact-us-btn:hover {
  background-color: #2193b0 !important;
  border: 1px solid #2193b0 !important;
  color: #fff !important;
  font-size: 16px !important;
}

.service-btn {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  border-radius: 20px !important;
  color: #fff !important;
  font-size: 16px !important;
}

.service-btn:hover {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #000 !important;
  font-size: 16px !important;
}

.about-btn {
  background-color: #157295 !important;
  border: 1px solid #157295 !important;
  border-radius: 20px !important;
  color: #fff !important;
  font-size: 16px !important;
}

.about-btn:hover {
  background-color: #fff !important;
  border: 1px solid #157295 !important;
  color: #157295 !important;
  font-size: 16px !important;
}

.more-link {
  background-color: #157295 !important;
  border: 1px solid #157295 !important;
  border-radius: 20px !important;
  color: #fff !important;
  font-size: 16px !important;
  display: table;
  margin: 30px auto;
}

.more-link:hover {
  background-color: #fff !important;
  border: 1px solid #157295 !important;
  color: #157295 !important;
  font-size: 16px !important;
  text-decoration: none;
}
/* end home css */

/* about */
.about-page h1 {
  font-size: 36pt;
}
.about-page h5 {
  opacity: 0.5;
}
/* end about */

/* service */
.activity {
  margin: 2.5rem 0;
}

.activity .divider {
  margin: 0 auto 50px auto;
  float: none;
  width: 5% !important;
  opacity: 0.5;
  border-top: 5px solid #2193b0;
}
.service-page h1 {
  font-size: 36pt;
}
.service-page h5 {
  opacity: 0.5;
}
.service-page .img-responsive {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.service-two {
  padding: 5% 0;
}
.service-two .card-header {
  font-weight: 700;
  font-size: 16pt;
}
.service-two .card-body {
  padding: 0px !important;
}
.service-two .second {
  margin: 28% 0;
}
.service-two .third {
  margin: 45% 0;
}
.service-page ul {
  list-style: none;
  padding: 0 !important;
}
.service-page ul li {
  line-height: 2rem;
}
/* end service */

/* aktivitas */

.aktivitas-page .divider {
  margin: 0 auto 20px auto;
  float: none;
  width: 5% !important;
  opacity: 0.5;
  border-top: 5px solid #2193b0;
}
.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.tab-content {
  margin: 30px 0 !important;
}
.aktivitas-page h5 {
  opacity: 0.5;
}
/* end aktivitas */

/* kontak */

.kontak-wrap {
  padding: 0px;
  margin: 0 !important;
}
.kontak {
  /* background-color: #157295; */
  padding: 0 0 2.5rem 0;
  border-radius: 10px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  color: #2d2d2d;
}
.kontak-page {
  margin: 30px 0;
}
.kontak-page .divider {
  margin: 0 auto 20px auto;
  float: none;
  width: 5% !important;
  opacity: 0.5;
  border-top: 5px solid #2193b0;
}
.kontak-page h5 {
  opacity: 0.5;
}
.kontak h4, .kontak h6{
  color: #157295;
}
.kontak h4,
.kontak p,.kontak h6 {
  margin: 10px 40px;
}
.kontak ul {
  list-style: none;
  color: #999;
}
.kontak i {
  background-color: #fff !important;
  color: #2193b0;
  margin: 5px;
}
.kontak a i:hover {
  background-color: #2d2d2d !important;
  color: #fff;
  margin: 5px;
}
.kontak .socmed {
  padding: 2.5rem 0 0 0;
}
.form-kontak .form-row {
  margin: 30px 0;
}
.form-kontak .btn {
  float: right;
}
.form-kontak .btn-primary {
  background-color: #157295 !important;
  border: #157295 1px solid !important;
  padding: 5px 30px !important;
  font-size: 14pt !important;
}

.form-kontak .btn-primary:hover {
  background-color: #fff !important;
  border: #157295 1px solid !important;
  padding: 5px 30px !important;
  font-size: 14pt !important;
  color: #157295;
}
.maps {
  margin: 50px 0 0 0;
}
/* end kontak */
/* client */
.client {
  margin: 0 0 2.5rem 0;
}
.client .divider {
  margin: 0 auto 50px auto;
  float: none;
  width: 5% !important;
  opacity: 0.5;
  border-top: 5px solid #2193b0;
}
.client-col  {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
.client-col img {
  display: block;
  width: 100%;
  margin: auto;
  padding: 30px;
  vertical-align: middle;
  filter:grayscale(100%)
}
.client-col img:hover {
  filter:grayscale(0%)
  }
/* end slider */
/* footer */
.footer {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  background-color: #F4F6FF;
  width: 100%;
  padding: 30px 0;
}
.footer ul {
  list-style: none;
  padding: 0 !important;
}
.footer h5 {
  color: #157295;
  font-style: normal !important;
}
.footer li,
.footer a {
  color: #999;
  margin: 5px 0;
}
.footer i {
  background-color: #2d2d2d;
  margin: 10px 5px;
}
.footer i:hover {
  background-color: #157295;
  border-color: #157295;
  color: #eee;
}
/* end footer */
