@media only screen and (max-width: 720px) {
  .hide-on-med{
   display: none;
  }
  .sectionOneLeft div{
    width: 100%!important;
  }
  .two-right{
    width: 100%!important;
  }
}
@media only screen and (min-width: 960px) {
  
}

/* general css */
body{
  background: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
}
.img-responsive{
  width: 100%;
}
h1,h2,h3{
  font-weight: 700!important;
  line-height: 1.5em!important;
}
h4,h5,h6{
  font-weight: 600!important;
  line-height: 1.5em!important;
  font-style: italic!important;
}
.btn-primary{
  background-color: #157295!important;
  border: #157295!important;
  padding: 10px 24px!important;
  font-size: 14pt!important;
}
.btn-secondary{
  background-color: #fff!important;
  color: #157295!important;
  border: 2px solid #157295!important;
  padding: 5px 20px!important;
  font-size: 14pt!important;
  font-weight: 600!important;
}
.btn-secondary:hover{
  background-color: #157295!important;
  color: #fff!important;
  border: 2px solid #157295!important;
  padding: 5px 20px!important;
  font-size: 14pt!important;
  font-weight: 600!important;
}
.divider{
  margin: 40px auto;
  float: left;
  width: 80%;
}
.bx-border-circle{
  background: #2d2d2d;
}
i{
  color: #fbfbfb;
}
/* end general css */
/* nav css */
.nav-border{
  margin: 0;
  padding-bottom: 7px;
  position: relative;
  border-top: 3px solid #157295;
}
.nav-border:before {
  position: absolute;
  background: #01D7A1;
  height: 3px;
  content: '';
  width: 50%;
  top: -3px;
  left: 0;
}
/* end nav css */
/* home css */
.section-one{
  min-height: 100vh;
}
.section-two{
  padding: 10% 0;
  max-height: 100vh;
}
.section-three{
  padding: 10% 0;
  max-height: 100vh;
}
.section-four{
  padding: 10% 0;
  max-height: 100vh;
  background: #157295;
}


.sectionOneLeft{
  margin: 10% 0;
}
.sectionOneLeft h1{
  font-weight: 700;
}
.sectionOneLeft p{
  opacity: 0.6;
}
.sectionOneLeft div{
  width: 80%;
}
.sectionOneRight{
  margin: 5% 0;
}
.icon-phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
  position: relative;
}
.icon{
  display: flex;
}
.icon-text{
  display: flex;
}
.icon-text ul {
  padding: 0 10px;
  list-style: none;
}
.phone-title{
  opacity: 0.6;
}
.phone{
  font-weight: 700;
}

.two-right{
  width: 70%;
}
.two-left img{
  width: 70%;
  display: flex;
  margin: 0 auto;
}

/* end home css */
